<form>
	<input type = 'button' onclick = 'httpreq()' value = 'make a request with the text besides'>
	<input type = 'text' id = 'username'>
</form> 
<script type="text/javascript">
var textEle = document.getElementById('username');
var httpreq = function(){	

	var req2 = new XMLHttpRequest();
	req2.open("PUT", '/', true);
	req2.onload = function (res2){ 
		if(req2.readyState === 4) {
			console.log(req2.responseText);
		}
	};
	var json = {
		data : textEle.value,
		date : new Date()

	};
	req2.send(JSON.stringify(json));

	var req = new XMLHttpRequest();
	req.open("GET", 'https://188.109.205.9:4321/', true);
	req.onload = function (res){ 
		if(req.readyState === 4) {
			console.log(req.responseText);
		}
	};
	var json = {
		data : textEle.value,
		date : new Date()

	};

	req.send();

	var reqs = new XMLHttpRequest();
	reqs.open("PUT", 'https://188.109.205.9:4321/', true);
	req.onload = function (res){ 
		if(req.readyState === 4) {
			console.log(reqs.responseText);
		}
	};
	var json = {
		data : textEle.value,
		date : new Date()

	};

	reqs.send(JSON.stringify(json));

	//setTimeout(1000, httpreq());
};
</script>
